<h3>
  Reserve Time
</h3>
<form action="action_page.php">
<div class="container">
  <label for="start"><b>Start Time</b></label>
  <input type="start" placeholder="Start" name="starttime" required>

  <label for="end"><b>End Time</b></label>
  <input type="end" placeholder="End" name="endtime" required>

  <label for="name"><b>First and Last Name</b></label>
  <input type="name" placeholder="Name" name="fullname" required>

  <button type= submit (click)="reserveTime(starttime, endtime, Name)">Request Time</button>
</div>
</form>
