/* Application-wide Styles */
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  background-color: navy;
}

h2 {
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 175%;
}

h3 {
  color: navy;
  font-family: Arial, Helvetica, sans-serif;
}

div{
  background-color: lightgrey;
  background-size: contain;
}

button {
  background-color: navy;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  margin: 10px;
}


/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
.dropbtn {
  background-color: navy;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: lightgrey;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: gray;}
